---
Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignConsecutiveDeclarations: true
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
BinPackParameters: false
BinPackArguments: false
ColumnLimit: 125
ConstructorInitializerAllOnOneLineOrOnePerLine: false
DerivePointerAlignment: false
ExperimentalAutoDetectBinPacking: false
IncludeCategories:
  - Regex:           '^<.*\.h>'
    Priority:        2
  - Regex:           '^<.*'
    Priority:        1
  - Regex:           '.*'
    Priority:        3
IncludeIsMainRegex: '([-_](test|unittest))?$'
IndentCaseLabels: false
NamespaceIndentation: All
PointerAlignment: Left
SpaceBeforeParens: Never
Cpp11BracedListStyle: true
Standard: Cpp11
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
...
