# SPDX-FileCopyrightText: 2016-2023 CERN and the Allpix Squared authors
# SPDX-License-Identifier: CC0-1.0

---
Language: Cpp
Standard: c++17
BasedOnStyle: LLVM
SortIncludes: true
AccessModifierOffset: -4
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
BinPackParameters: false
BinPackArguments: false
ColumnLimit: 125
ConstructorInitializerAllOnOneLineOrOnePerLine: false
DerivePointerAlignment: false
ExperimentalAutoDetectBinPacking: false
IncludeCategories:
  - Regex:           '^<.*'
    Priority:        1
  - Regex:           '^<.*\.h*>'
    Priority:        2
  - Regex:           '.*'
    Priority:        3
IncludeIsMainRegex: '([-_](test|unittest))?$'
IndentCaseLabels: false
NamespaceIndentation: All
PointerAlignment: Left
SpaceBeforeParens: Never
Cpp11BracedListStyle: true
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
...
