# SPDX-FileCopyrightText: 2022 CERN and the Allpix Squared authors
# SPDX-License-Identifier: CC0-1.0

root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{h,hpp,cpp,tpp,C,py}]
indent_style = space
indent_size = 4

[*.md]
indent_style = space
indent_size = 2
