# ignore build and install directories
build/
bin/
lib/
obj/

# root and data files do not belong into the repository
*.root
*.pdf
*.log
*.dat
*.macro
*.ps
*.wrl
*.png

# ignore backup files of any sort of editor:
~*
*~
.*
\#*

# ignore python byte code
*.pyc

# Ignore Doxygen's SQlite3 databases:
*.db

# Ignore ROOTs compiled macro objects
*.d
*.so
*.pcm
