variables:
    EOS_PATH: "/eos/project/a/allpix-squared/www/"
    DOCKER_FILE: etc/docker/Dockerfile

stages:
    - compilation
    - testing
    - formatting
    - performance
    - documentation
    - packaging
    - deployment


############################
# General target templates #
############################

.centos7:
    image: gitlab-registry.cern.ch/sft/docker/centos7:latest
    variables:
        COMPILER_TYPE: "gcc"
    before_script:
        - source .ci/init_x86_64.sh
        - mkdir -p build/ && cd build/

.centos8:
    image: gitlab-registry.cern.ch/sft/docker/centos8:latest
    variables:
        COMPILER_TYPE: "gcc"
    before_script:
        - source .ci/init_x86_64.sh
        - mkdir -p build/ && cd build/

.docker:
    image:
        name: gitlab-registry.cern.ch/allpix-squared/allpix-squared/allpix-squared-deps:latest
    before_script:
        - mkdir -p build/ && cd build/

.lxplus:
    image: gitlab-registry.cern.ch/sft/docker/centos7:latest
    variables:
        COMPILER_TYPE: "gcc"
    before_script:
        - source etc/scripts/setup_lxplus.sh
        - mkdir -p build/ && cd build/

.macos:
    tags:
        - mac
    variables:
        COMPILER_TYPE: "llvm"
    before_script:
        - source .ci/init_x86_64.sh
        - mkdir -p build/ && cd build/


#######################
# Compilation targets #
#######################

# Hidden key to define the default compile job:
.compile:
    stage: compilation
    needs: []
    tags:
        - docker
    script:
        - export CCACHE_DIR=`pwd`/ccache
        - cmake -GNinja -DCMAKE_CXX_FLAGS="-Werror" -DBUILD_LCIOWriter=ON -DCMAKE_BUILD_TYPE=RELEASE -DROOT_DIR=$ROOTSYS -DEigen3_DIR=$Eigen3_DIR -DLCIO_DIR=$LCIO_DIR ..
        - ninja -k0
        - ninja install
    artifacts:
        paths:
            - build
            - bin
            - lib
        expire_in: 24 hour

# Ensure that our LXPLUS setup script is functional:
cmp:lxplus-gcc:
    extends:
        - .compile
        - .lxplus
    script:
        - cmake -GNinja -DCMAKE_CXX_FLAGS="-Werror" -DBUILD_LCIOWriter=ON -DCMAKE_BUILD_TYPE=RELEASE -DLCIO_DIR=$LCIO_DIR ..
        - ninja -k0
        - ninja install

cmp:docker:
    extends:
        - .compile
        - .docker
    script:
        - cmake -DBUILD_ALL_MODULES=ON -DCMAKE_BUILD_TYPE=RELEASE ..
        - make
        - make install

cmp:cc7-gcc:
    extends:
        - .compile
        - .centos7

cmp:cc7-llvm:
    extends:
        - .compile
        - .centos7
    variables:
        COMPILER_TYPE: "llvm"

cmp:cc8-gcc:
    extends:
        - .compile
        - .centos8

cmp:macos-clang:
    extends:
        - .compile
        - .macos
    script:
        - cmake -GNinja -DCMAKE_CXX_FLAGS="-Werror" -DBUILD_LCIOWriter=ON -DCMAKE_BUILD_TYPE=RELEASE -DLCIO_DIR=$LCIO_DIR -DCMAKE_USE_RELATIVE_PATHS=TRUE ..
        - ninja -k0
        - ninja install


############################
# Format and Lint Checking #
############################

# Hidden key to define the basis for linting and formatting:
.format:
    stage: formatting
    tags:
        - docker
    needs: []
    dependencies: []
    extends: .centos7
    variables:
        COMPILER_TYPE: "llvm"

fmt:cc7-llvm-format:
    extends: .format
    script:
        - cmake -GNinja -DCMAKE_CXX_FLAGS="-Werror" -DBUILD_LCIOWriter=ON -DCMAKE_BUILD_TYPE=RELEASE -DLCIO_DIR=$LCIO_DIR ..
        - ninja check-format

fmt:cc7-llvm-lint:
    extends: .format
    script:
        - cmake -GNinja -DCMAKE_CXX_FLAGS="-Werror" -DBUILD_LCIOWriter=ON -DCMAKE_BUILD_TYPE=RELEASE -DLCIO_DIR=$LCIO_DIR ..
        - ninja check-lint

fmt:cmake-lint:
    extends: .format
    script:
        - export PATH=$PATH:~/.local/bin
        - pip install --trusted-host=pypi.org --user cmakelang
        - cmake -GNinja ..
        - ninja lint-cmake

fmt:coverage:
    extends: .format
    variables:
        COMPILER_TYPE: "gcc"
    script:
        - export PATH=$PATH:~/.local/bin
        - pip install --trusted-host=pypi.org --user gcovr
        - export CCACHE_DIR=`pwd`/ccache
        - cmake -GNinja -DCMAKE_CXX_FLAGS="-Werror" -DBUILD_LCIOWriter=ON -DCMAKE_BUILD_TYPE=Debug -DCOVERAGE=ON -DLCIO_DIR=$LCIO_DIR ..
        - ninja -k0
        - ninja install
        - ninja coverage_gcovr

fmt:codespell:
    extends: .format
    script:
        - export PATH=~/.local/bin:$PATH
        - cd ../
        - pip install --trusted-host=pypi.org --user codespell
        - codespell --ignore-words .gitlab/ci/codespell_ignored_words.txt --quiet-level 2 --skip ".git,.gitlab,cmake,3rdparty"

fmt:coverity:
    extends: .format
    only:
        - coverity
        - schedules
    variables:
        SCHEDULE_TAG: "coverity"
    script:
        - wget --quiet https://scan.coverity.com/download/linux64 --post-data "token=$COVERITY_SCAN_TOKEN&project=$COVERITY_SCAN_PROJECT_NAME" -O /tmp/cov-analysis-linux64.tgz
        - tar xfz /tmp/cov-analysis-linux64.tgz
        - cmake -DCMAKE_CXX_FLAGS="-Werror" -DBUILD_LCIOWriter=ON -DCMAKE_BUILD_TYPE=RELEASE -DROOT_DIR=$ROOTSYS -DEigen3_DIR=$Eigen3_DIR -DLCIO_DIR=$LCIO_DIR ..
        - cov-analysis-linux64-*/bin/cov-build --dir cov-int make
        - tar cfz cov-int.tar.gz cov-int
        - curl --form token=$COVERITY_SCAN_TOKEN --form email=$GITLAB_USER_EMAIL --form file=@cov-int.tar.gz --form version="`git describe --tags`" --form description="`git describe --tags` / $CI_COMMIT_TITLE / $CI_COMMIT_REF_NAME:$CI_PIPELINE_ID " https://scan.coverity.com/builds?project=$COVERITY_SCAN_PROJECT_NAME


##############
# Unit tests #
##############

.test:
    stage: testing
    tags:
        - docker
    after_script:
        - ./.gitlab/ci/transform_ctest_junit.py build/Testing/`head -n 1 build/Testing/TAG`/Test.xml .gitlab/ci/ctest-to-junit.xsl apsq-${CI_JOB_NAME}-${CI_COMMIT_REF_NAME}.xml
    artifacts:
        when: always
        expire_in: 1 week
        name: "apsq-${CI_JOB_NAME}-${CI_COMMIT_REF_NAME}"
        paths:
            - apsq-${CI_JOB_NAME}-${CI_COMMIT_REF_NAME}.xml
        reports:
            junit: apsq-${CI_JOB_NAME}-${CI_COMMIT_REF_NAME}.xml

.testmod:
    extends: .test
    script:
        - ctest -R modules/ --no-compress-output --test-action Test

.testcore:
    extends: .test
    script:
        - ctest -R core/ --no-compress-output --test-action Test


# Test if examples still execute fine:
examples:
    extends:
        - .test
        - .centos7
    needs:
        - job: cmp:cc7-gcc
          artifacts: true
    script:
        - ctest -R examples/ --no-compress-output --test-action Test

# LXPLUS
mod:lxplus-gcc:
    extends:
        - .testmod
        - .lxplus
    needs:
        - job: cmp:lxplus-gcc
          artifacts: true

core:lxplus-gcc:
    extends:
        - .testcore
        - .lxplus
    needs:
        - job: cmp:lxplus-gcc
          artifacts: true

# Ubuntu Docker image
mod:docker:
    extends:
        - .testmod
        - .docker
    needs:
        - job: cmp:docker
          artifacts: true

core:docker:
    extends:
        - .testcore
        - .docker
    needs:
        - job: cmp:docker
          artifacts: true

# CentOS 7
mod:cc7-gcc:
    extends:
        - .testmod
        - .centos7
    needs:
        - job: cmp:cc7-gcc
          artifacts: true

core:cc7-gcc:
    extends:
        - .testcore
        - .centos7
    needs:
        - job: cmp:cc7-gcc
          artifacts: true

mod:cc7-llvm:
    extends:
        - .testmod
        - .centos7
    variables:
        COMPILER_TYPE: "llvm"
    needs:
        - job: cmp:cc7-llvm
          artifacts: true

core:cc7-llvm:
    extends:
        - .testcore
        - .centos7
    variables:
        COMPILER_TYPE: "llvm"
    needs:
        - job: cmp:cc7-llvm
          artifacts: true

# CentOS 8
mod:cc8-gcc:
    extends:
        - .testmod
        - .centos8
    needs:
        - job: cmp:cc8-gcc
          artifacts: true

core:cc8-gcc:
    extends:
        - .testcore
        - .centos8
    needs:
        - job: cmp:cc8-gcc
          artifacts: true

# Mac OS
mod:macos-clang:
    extends:
        - .testmod
        - .macos
    needs:
        - job: cmp:macos-clang
          artifacts: true

core:macos-clang:
    extends:
        - .testcore
        - .macos
    needs:
        - job: cmp:macos-clang
          artifacts: true


#####################
# Performance tests #
#####################

# Performance tests are only run on Mac OS X and on a native CentOS7 installation. Otherwise we have no control
# about how many CI jobs are performed on the same machine in parallel via the hypervisor.
.testperf:
    stage: performance
    tags:
        - benchmark
    script:
        - ctest -R performance/ --output-on-failure
    allow_failure: true
    retry: 1

# CentOS7
perf:cc7-gcc:
    extends:
        - .testperf
        - .centos7
    needs:
        - job: cmp:cc7-gcc
          artifacts: true

# Temporarily hide LLVM job, have to find out why this is so slow.
.perf:cc7-llvm:
    extends:
        - .testperf
        - .centos7
    variables:
        COMPILER_TYPE: "llvm"
    needs:
        - job: cmp:cc7-llvm
          artifacts: true

# Mac OS
# Temporarily disable Mac OS X performance until tests are adapted to actual performance
.perf:macos-clang:
    extends:
        - .testperf
        - .macos
    needs:
        - job: cmp:macos-clang
          artifacts: true


#############################
# Documentation Compilation #
#############################

.doc:
    stage: documentation
    needs: []
    dependencies: []
    tags:
        - docker
    before_script:
        - mkdir -p public/usermanual
        - mkdir build && cd build
    artifacts:
        paths:
            - public
        expire_in: 24 hour

# Compile Doxygen reference
cmp:doxygen:
    extends: .doc
    image: gitlab-registry.cern.ch/sft/docker/centos7:latest
    script:
        - source ../.ci/init_x86_64.sh
        - cmake -DBUILD_DOCS_ONLY=ON ..
        - make Allpix-reference
        - mv reference/html ../public/reference

# Compile LaTeX user manual:
cmp:usermanual:
    extends: .doc
    image: gitlab-registry.cern.ch/clicdp/publications/templates/custom_ci_worker:fedora-latex-latest
    script:
        - cmake -DBUILD_DOCS_ONLY=ON ..
        - make pdf
        - make html
        - mv usermanual/*.html ../public/usermanual
        - mv usermanual/*.css ../public/usermanual
        - mv usermanual/logo.png ../public/usermanual
        - mv usermanual/allpix-manual.pdf ../public/usermanual
        - mkdir -p ../public/usermanual/usermanual/
        - mkdir -p ../public/usermanual/usermanual/html/
        - mv usermanual/usermanual/html/css ../public/usermanual/usermanual/html/
        - mv usermanual/usermanual/html/js ../public/usermanual/usermanual/html/
        - mv usermanual/usermanual/figures ../public/usermanual/usermanual/


################################
# Packaging of Binary Tarballs #
################################

.pack:
    stage: packaging
    tags:
        - docker
    only:
        - tags@allpix-squared/allpix-squared
        - schedules@allpix-squared/allpix-squared
    before_script:
        - export CCACHE_DIR=`pwd`/ccache
        - source .ci/init_x86_64.sh
        - mkdir -p public/releases
        - cd build
    script:
        - cmake -GNinja -DCMAKE_SKIP_RPATH=ON -DCMAKE_INSTALL_PREFIX=/tmp ..
        - ninja package
        - mv *.tar.gz ../public/releases
    artifacts:
        paths:
            - public
        expire_in: 24 hour

pkg:cc7-gcc:
    extends:
        - .pack
        - .centos7
    needs:
        - job: cmp:cc7-gcc
          artifacts: true

pkg:cc7-llvm:
    extends:
        - .pack
        - .centos7
    needs:
        - job: cmp:cc7-llvm
          artifacts: true
    variables:
        COMPILER_TYPE: "llvm"

pkg:cc8-gcc:
    extends:
        - .pack
        - .centos8
    needs:
        - job: cmp:cc8-gcc
          artifacts: true

pkg:macos-clang:
    extends:
        - .pack
        - .macos
    needs:
        - job: cmp:macos-clang
          artifacts: true


############################
# Documentation Deployment #
############################

# Automatically deploy documentation to the website
# Deployment job only executed for new tag pushs, not for every commit.
deploy-documentation:
    stage: deployment
    tags:
      - docker
    variables:
        GIT_STRATEGY: none
    # Only run for new tags:
    only:
        - tags@allpix-squared/allpix-squared
    dependencies:
        - cmp:usermanual
        - cmp:doxygen
    # Docker image with tools to deploy to EOS
    image: gitlab-registry.cern.ch/ci-tools/ci-web-deployer:latest
    script:
        - deploy-eos
    # do not run any globally defined before_script or after_script for this step
    before_script: []
    after_script: []

deploy-eos:
    stage: deployment
    tags:
      - docker
    variables:
        GIT_STRATEGY: none
    # Only run for new tags:
    only:
        - tags@allpix-squared/allpix-squared
        - schedules@allpix-squared/allpix-squared
    dependencies:
        - pkg:cc7-gcc
        - pkg:cc7-llvm
        - pkg:cc8-gcc
        - pkg:macos-clang
    # Docker image with tools to deploy to EOS
    image: gitlab-registry.cern.ch/ci-tools/ci-web-deployer:latest
    script:
        - deploy-eos
    # do not run any globally defined before_script or after_script for this step
    before_script: []
    after_script: []

deploy-cvmfs:
    stage: deployment
    dependencies:
        - pkg:cc7-gcc
        - pkg:cc7-llvm
        - pkg:cc8-gcc
        - pkg:macos-clang
    tags:
        - cvmfs-deploy
    only:
        - tags@allpix-squared/allpix-squared
        - schedules@allpix-squared/allpix-squared
    script:
        - ./.gitlab/ci/download_artifacts.py $API_TOKEN $CI_PROJECT_ID $CI_PIPELINE_ID
        - export RUNNER_LOCATION=$(pwd)
        - if [ -z ${CI_COMMIT_TAG} ]; then export BUILD_PATH='latest'; else export BUILD_PATH=${CI_COMMIT_TAG}; fi
        - sudo -u cvclicdp -i $RUNNER_LOCATION/.gitlab/ci/gitlab_deploy.sh $RUNNER_LOCATION $BUILD_PATH
        - rm -f allpix-squared-*.tar.gz
    retry: 1

deploy-docker-latest:
    stage: deployment
    tags:
        - docker-image-build
    dependencies: []
    only:
        - schedules@allpix-squared/allpix-squared
    script:
        - "echo" # unused but this line is required by GitLab CI
    variables:
        TO: gitlab-registry.cern.ch/allpix-squared/allpix-squared

deploy-docker-tag:
    stage: deployment
    tags:
        - docker-image-build
    dependencies: []
    only:
        - tags@allpix-squared/allpix-squared
    script:
        - "echo" # unused but this line is required by GitLab CI
    variables:
        TO: gitlab-registry.cern.ch/allpix-squared/allpix-squared:${CI_COMMIT_TAG}
