variables:
    EOS_PATH: "/eos/project/a/allpix-squared/www/"
    DOCKER_FILE: etc/docker/Dockerfile

stages:
    - compilation
    - testing
    - formatting
    - performance
    - documentation
    - packaging
    - deployment

#######################
# Compilation targets #
#######################

# Hidden key to define the default compile job:
.compile:
    stage: compilation
    tags:
        - docker
    script:
        - mkdir build
        - cd build
        - cmake -GNinja -DBUILD_ALL_MODULES=ON -DCMAKE_BUILD_TYPE=RELEASE -DGeant4_DIR=$G4LIB -DROOT_DIR=$ROOTSYS -DEigen3_DIR=$Eigen3_DIR ..
        - ninja
        - ninja install
    artifacts:
        paths:
            - build
            - bin
            - lib
        expire_in: 24 hour

cmp:slc6-gcc:
    extends: .compile
    image: clicdp/slc6-base
    before_script:
        - export COMPILER_TYPE="gcc"
        - source .gitlab/ci/init_x86_64.sh
        - source .gitlab/ci/load_deps.sh

cmp:slc6-llvm:
    extends: .compile
    image: clicdp/slc6-base
    before_script:
        - export COMPILER_TYPE="llvm"
        - source .gitlab/ci/init_x86_64.sh

# Ensure that our LXPLUS setup script is functional:
#cmp:lxplus-gcc:
#    extends: .compile
#    image: clicdp/slc6-base
#    before_script:
#        - export COMPILER_TYPE="gcc"
#        - source etc/scripts/setup_lxplus.sh
#    script:
#        - mkdir build
#        - cd build
#        - cmake -GNinja -DBUILD_ALL_MODULES=ON -DCMAKE_BUILD_TYPE=RELEASE ..
#        - ninja
#        - ninja install

cmp:cc7-gcc:
    extends: .compile
    image: clicdp/cc7-base
    before_script:
        - export COMPILER_TYPE="gcc"
        - source .gitlab/ci/init_x86_64.sh
        - source .gitlab/ci/load_deps.sh

cmp:cc7-llvm:
    extends: .compile
    image: clicdp/cc7-base
    before_script:
        - export COMPILER_TYPE="llvm"
        - source .gitlab/ci/init_x86_64.sh

cmp:mac1014-clang:
    extends: .compile
    tags:
        - mac
    before_script:
        - source .gitlab/ci/init_mac.sh
        - source .gitlab/ci/load_deps.sh
    script:
        - mkdir build
        - cd build
        - cmake -GNinja -DBUILD_ALL_MODULES=ON -DCMAKE_BUILD_TYPE=RELEASE -DGeant4_DIR=$G4LIB -DROOT_DIR=$ROOTSYS -DEigen3_DIR=$Eigen3_DIR -DCMAKE_USE_RELATIVE_PATHS=TRUE ..
        - ninja
        - ninja install


############################
# Format and Lint Checking #
############################

# Hidden key to define the basis for linting and formatting:
.format:
    stage: formatting
    tags:
        - docker
    before_script:
        - export COMPILER_TYPE="llvm"
        - source .gitlab/ci/init_x86_64.sh

# SLC 6

fmt:slc6-llvm-format:
    extends: .format
    dependencies:
        - cmp:slc6-llvm
    image: clicdp/slc6-base
    script:
        - cd build/
        - ninja check-format

fmt:slc6-llvm-lint:
    extends: .format
    dependencies:
        - cmp:slc6-llvm
    image: clicdp/slc6-base
    script:
        - cd build/
        - ninja check-lint

# CentOS 7

fmt:cc7-llvm-format:
    extends: .format
    dependencies:
        - cmp:cc7-llvm
    image: clicdp/cc7-base
    script:
        - cd build/
        - ninja check-format

fmt:cc7-llvm-lint:
    extends: .format
    dependencies:
        - cmp:cc7-llvm
    image: clicdp/cc7-base
    script:
        - cd build/
        - ninja check-lint



##############
# Unit tests #
##############

.test:
    stage: testing
    tags:
        - docker

.testmod:
    extends: .test
    script:
        - cd build/
        - ctest -R test_modules --output-on-failure -j4

.testcore:
    extends: .test
    script:
        - cd build/
        - ctest -R test_core --output-on-failure -j4


# Test if examples still execute fine:

examples:
    extends: .test
    dependencies:
        - cmp:cc7-gcc
    image: clicdp/cc7-base
    before_script:
        - source .gitlab/ci/init_x86_64.sh
        - source .gitlab/ci/load_deps.sh
    script:
        - cd build/
        - ctest -R examples --output-on-failure -j4

# SLC 6

mod:slc6-gcc:
    extends: .testmod
    dependencies:
        - cmp:slc6-gcc
    image: clicdp/slc6-base
    before_script:
        - source .gitlab/ci/init_x86_64.sh

core:slc6-gcc:
    extends: .testcore
    dependencies:
        - cmp:slc6-gcc
    image: clicdp/slc6-base
    before_script:
        - source .gitlab/ci/init_x86_64.sh

#mod:lxplus-gcc:
#    extends: .testmod
#    dependencies:
#        - cmp:lxplus-gcc
#    image: clicdp/slc6-base
#    before_script:
#        - source etc/scripts/setup_lxplus.sh

#core:lxplus-gcc:
#    extends: .testcore
#    dependencies:
#        - cmp:lxplus-gcc
#    image: clicdp/slc6-base
#    before_script:
#        - source etc/scripts/setup_lxplus.sh

mod:slc6-llvm:
    extends: .testmod
    dependencies:
        - cmp:slc6-llvm
    image: clicdp/slc6-base
    before_script:
        - export COMPILER_TYPE="llvm"
        - source .gitlab/ci/init_x86_64.sh

core:slc6-llvm:
    extends: .testcore
    dependencies:
        - cmp:slc6-llvm
    image: clicdp/slc6-base
    before_script:
        - export COMPILER_TYPE="llvm"
        - source .gitlab/ci/init_x86_64.sh


# CentOS 7

mod:cc7-gcc:
    extends: .testmod
    dependencies:
        - cmp:cc7-gcc
    image: clicdp/cc7-base
    before_script:
        - source .gitlab/ci/init_x86_64.sh
        - source .gitlab/ci/load_deps.sh

core:cc7-gcc:
    extends: .testcore
    dependencies:
        - cmp:cc7-gcc
    image: clicdp/cc7-base
    before_script:
        - source .gitlab/ci/init_x86_64.sh
        - source .gitlab/ci/load_deps.sh

mod:cc7-llvm:
    extends: .testmod
    dependencies:
        - cmp:cc7-llvm
    image: clicdp/cc7-base
    before_script:
        - export COMPILER_TYPE="llvm"
        - source .gitlab/ci/init_x86_64.sh

core:cc7-llvm:
    extends: .testcore
    dependencies:
        - cmp:cc7-llvm
    image: clicdp/cc7-base
    before_script:
        - export COMPILER_TYPE="llvm"
        - source .gitlab/ci/init_x86_64.sh


# Mac OS X

mod:mac1014-clang:
    extends: .testmod
    tags:
        - mac
    dependencies:
        - cmp:mac1014-clang
    before_script:
        - source .gitlab/ci/init_mac.sh
        - source .gitlab/ci/load_deps.sh

core:mac1014-clang:
    extends: .testcore
    tags:
        - mac
    dependencies:
        - cmp:mac1014-clang
    before_script:
        - source .gitlab/ci/init_mac.sh
        - source .gitlab/ci/load_deps.sh


#####################
# Performance tests #
#####################

# Performance tests are only run on Mac OS X and on a native CentOS7 installation. Otherwise we have no control
# about how many CI jobs are performed on the same machine in parallel via the hypervisor.

.testperf:
    stage: performance
    tags:
        - benchmark
    script:
        - cd build/
        - ctest -R test_performance --output-on-failure
    allow_failure: true
    retry: 1

# CentOS7

perf:cc7-gcc:
    extends: .testperf
    dependencies:
        - cmp:cc7-gcc
    image: clicdp/cc7-base
    before_script:
        - source .gitlab/ci/init_x86_64.sh
        - source .gitlab/ci/load_deps.sh

# Temporarily hide LLVM job, have to find out why this is so slow.
.perf:cc7-llvm:
    extends: .testperf
    dependencies:
        - cmp:cc7-llvm
    image: clicdp/cc7-base
    before_script:
        - export COMPILER_TYPE="llvm"
        - source .gitlab/ci/init_x86_64.sh

# Mac OS X
# Temporarily disable Mac OS X performance until tests are adapted to actual performance
.perf:mac1014-clang:
    extends: .testperf
    dependencies:
        - cmp:mac1014-clang
    before_script:
        - source .gitlab/ci/init_mac.sh
        - source .gitlab/ci/load_deps.sh


#############################
# Documentation Compilation #
#############################

.doc:
    stage: documentation
    tags:
        - docker
    artifacts:
        paths:
            - public
        expire_in: 24 hour


# Compile Doxygen reference
cmp:doxygen:
    extends: .doc
    image: clicdp/cc7-base
    dependencies: []
    script:
        - source .gitlab/ci/init_x86_64.sh
        - source .gitlab/ci/load_deps.sh
        - mkdir -p public/usermanual
        - mkdir build
        - cd build
        - cmake -DBUILD_DOCS_ONLY=ON ..
        - make reference
        - mv reference/html ../public/reference

# Compile LaTeX user manual:
cmp:usermanual:
    extends: .doc
    image: gitlab-registry.cern.ch/clicdp/publications/templates/custom_ci_worker:fedora-latex-latest
    dependencies: []
    script:
        - mkdir -p public/usermanual
        - mkdir build
        - cd build
        - cmake -DBUILD_DOCS_ONLY=ON ..
        - make pdf
        - make html
        - mv usermanual/*.html ../public/usermanual
        - mv usermanual/*.css ../public/usermanual
        - mv usermanual/logo.png ../public/usermanual
        - mv usermanual/allpix-manual.pdf ../public/usermanual
        - mkdir -p ../public/usermanual/usermanual/
        - mkdir -p ../public/usermanual/usermanual/html/
        - mv usermanual/usermanual/html/css ../public/usermanual/usermanual/html/
        - mv usermanual/usermanual/html/js ../public/usermanual/usermanual/html/
        - mv usermanual/usermanual/figures ../public/usermanual/usermanual/

################################
# Packaging of Binary Tarballs #
################################

.pack:
    stage: packaging
    tags:
        - docker
    only:
        - tags
        - schedules
    script:
        - mkdir -p public/releases
        - cd build
        - cmake -GNinja -DCMAKE_SKIP_RPATH=ON -DCMAKE_INSTALL_PREFIX=/tmp ..
        - ninja package
        - mv *.tar.gz ../public/releases
    artifacts:
        paths:
            - public
        expire_in: 24 hour

pkg:slc6-gcc:
    extends: .pack
    image: clicdp/slc6-base
    dependencies:
        - cmp:slc6-gcc
    before_script:
        - export COMPILER_TYPE="gcc"
        - source .gitlab/ci/init_x86_64.sh
        - source .gitlab/ci/load_deps.sh

pkg:cc7-gcc:
    extends: .pack
    image: clicdp/cc7-base
    dependencies:
        - cmp:cc7-gcc
    before_script:
        - export COMPILER_TYPE="gcc"
        - source .gitlab/ci/init_x86_64.sh
        - source .gitlab/ci/load_deps.sh


############################
# Documentation Deployment #
############################

# Automatically deploy documentation to the website
# Deployment job only executed for new tag pushs, not for every commit.
deploy-documentation:
    stage: deployment
    tags:
      - docker
    variables:
        GIT_STRATEGY: none
    # Only run for new tags:
    only:
        - tags
    dependencies:
        - cmp:usermanual
        - cmp:doxygen
    # Docker image with tools to deploy to EOS
    image: gitlab-registry.cern.ch/ci-tools/ci-web-deployer:latest
    script:
        - deploy-eos
    # do not run any globally defined before_script or after_script for this step
    before_script: []
    after_script: []

deploy-eos:
    stage: deployment
    tags:
      - docker
    variables:
        GIT_STRATEGY: none
    # Only run for new tags:
    only:
        - tags
        - schedules # Only execute this on scheduled "nightly" pipelines
    dependencies:
        - pkg:cc7-gcc
        - pkg:slc6-gcc
    # Docker image with tools to deploy to EOS
    image: gitlab-registry.cern.ch/ci-tools/ci-web-deployer:latest
    script:
        - deploy-eos
    # do not run any globally defined before_script or after_script for this step
    before_script: []
    after_script: []

deploy-cvmfs:
    stage: deployment
    dependencies:
        - pkg:cc7-gcc
        - pkg:slc6-gcc
    tags:
        - cvmfs-deploy
    only:
        - tags
        - schedules # Only execute this on scheduled "nightly" pipelines
    script:
        - ./.gitlab/ci/download_artifacts.py $API_TOKEN $CI_PROJECT_ID $CI_PIPELINE_ID
        - export RUNNER_LOCATION=$(pwd)
        - if [ -z ${CI_COMMIT_TAG} ]; then export BUILD_PATH='latest'; else export BUILD_PATH=${CI_COMMIT_TAG}; fi
        - sudo -u cvclicdp -i $RUNNER_LOCATION/.gitlab/ci/gitlab_deploy.sh $RUNNER_LOCATION $BUILD_PATH
        - rm -f allpix-squared-*.tar.gz
    retry: 1

deploy-docker-latest:
    stage: deployment
    tags:
        - docker-image-build
    dependencies: []
    only:
        - schedules # Only execute this on scheduled "nightly" pipelines
    script:
        - "echo" # unused but this line is required by GitLab CI
    variables:
        TO: gitlab-registry.cern.ch/allpix-squared/allpix-squared

deploy-docker-tag:
    stage: deployment
    tags:
        - docker-image-build
    dependencies: []
    only:
        - tags
    script:
        - "echo" # unused but this line is required by GitLab CI
    variables:
        TO: gitlab-registry.cern.ch/allpix-squared/allpix-squared:${CI_COMMIT_TAG}
