# SPDX-FileCopyrightText: 2022 CERN and the Allpix Squared authors
# SPDX-License-Identifier: CC0-1.0

Andreas Matthias Nürnberg <andreas.nurnberg@cern.ch>
Andre Sailer <andre.philippe.sailer@cern.ch>
Andy Wharton <AndyWharton1976@gmail.com>
Annika Vauth <annika.vauth@desy.de> <annika.vauth@uni-hamburg.de>
Annika Vauth <annika.vauth@desy.de> av <nika@little-black-box>
Arka Santra <santra.arka@gmail.com>
Ben Bruers <ben.brueers@cern.ch>
Carsten Daniel Burgard <carsten.burgard@cern.ch> <cburgard@cern.ch>
Daniel Hynds <daniel.hynds@cern.ch>
Daniil Rastorguev <daniil.rastorguev@desy.de> drastorg <daniil.rastorguev@cern.ch>
Daniil Rastorguev <daniil.rastorguev@desy.de> dannrastor <dannraptor@gmail.com>
Edoardo Rossi <edrossi@cern.ch> <edrossi@lxplus024.cern.ch>
Edoardo Rossi <edrossi@cern.ch> <edrossi@lxplus068.cern.ch>
Edoardo Rossi <edrossi@cern.ch> <edrossi@lxplus082.cern.ch>
Edoardo Rossi <edrossi@cern.ch> <edrossi@lxplus092.cern.ch>
Enrico Junior Schioppa <enrico.junior.schioppa@cern.ch> <sc_enricojr@yahoo.it>
Enrico Junior Schioppa <enrico.junior.schioppa@cern.ch> schioppa <enrico.junior.schioppa@cern.ch>
Florian Pitters <florian.pitters@cern.ch> fpitters <florian.pitters@cern.ch>
Florian Pitters <florian.pitters@cern.ch> <fpitters@heros.hephy.at>
Håkan Wennlöf <h.wennlof@cern.ch> <hwennlof@gmail.com>
Jihad Saidi <jihad.saidi@cern.ch>
Katharina Dort <katharina.dort@cern.ch>
Koen van den Brandt <kbrandt@nikhef.nl> <kbrandt@stbc-i2.nikhef.nl>
Koen van den Brandt <kbrandt@nikhef.nl> <kbrandt@yuan.nikhef.nl>
Koen van den Brandt <kbrandt@nikhef.nl> Koen Bernard Van Den Brandt <kbrandt@nikhef.nl>
Koen van den Brandt <kbrandt@nikhef.nl> <koeny_brandt@live.nl>
Koen Wolters <koen.wolters@cern.ch> <kswolters@live.nl>
Koen Wolters <koen.wolters@cern.ch> <kwolters@student.ethz.ch>
Lennart Huth <lennart.huth@desy.de>
Liejian Chen <chenlj@gmail.com>
Manuel Del Rio Viera <manuel.alejandro.del.rio.viera@cern.ch>
Maoqiang Jing <jingmaoqiang1996@163.com>
Maoqiang Jing <maoqiang.jing@cern.ch>
Marco Bomben <marco.bomben@cern.ch> marco.bomben@cern.ch <marco.bomben@cern.ch>
Marco Bomben <marco.bomben@cern.ch> <marco.bomben@gmail.com>
Marko Petric <marko.petric@cern.ch>
Mateus Vicente <mvicente@cern.ch> <m.vicente@cern.ch>
Mateus Vicente <mvicente@cern.ch> <mvicente@lxplus079.cern.ch>
Mathieu Benoit <mathieu.benoit@cern.ch>
Maximilian Caspar <maximilian.caspar@cern.ch>
Mohamed Moanis Ali <mohamed.moanis.ali@cern.ch> mmoanis <mohamed_moanis@outlook.com>
Morag Williams <morag.williams@cern.ch>
Moritz Kiehn <msmk@cern.ch> <moritz.kiehn@cern.ch>
Nashad Rahman <rahman.176@osu.edu>
Ondrej Theiner <theinond@gmail.com>
Paul Schütze <paul.schuetze@desy.de> Paul Jean Schutze <paul.schuetze@cern.ch>
Paul Schütze <paul.schuetze@desy.de> Paul Schuetze <paul.schuetze@cern.ch>
Paul Schütze <paul.schuetze@desy.de> Paul Schuetze <paul.schuetze@desy.de>
Paul Schütze <paul.schuetze@desy.de> Paul Schutze <paul.schuetze@cern.ch>
Petr Smolyanskiy <petr.smolyanskiy@utef.cvut.cz>
Radek Privara <radek.privara@cern.ch> <rprivr@gmail.com>
Rafaella Eleni Kotitsa <rafaella.eleni.kotitsa@cern.ch> <rkotitsa@rkotitsa.home>
Reem Hani M Taibah <reem.hani.m.taibah@cern.ch> <reem.h.m.taibah@cern.ch>
Ryan Heller <rheller@lbl.gov> heller3 <heller3@gmail.com>
Ryuji Moriya <rmoriya@cern.ch> <rmoriya@lxplus709.cern.ch>
Ryuji Moriya <rmoriya@cern.ch> <rmoriya@lxplus7107.cern.ch>
Ryuji Moriya <rmoriya@cern.ch> <rmoriya@lxplus7112.cern.ch>
Ryuji Moriya <rmoriya@cern.ch> <rmoriya@lxplus7113.cern.ch>
Ryuji Moriya <rmoriya@cern.ch> <rmoriya@lxplus717.cern.ch>
Ryuji Moriya <rmoriya@cern.ch> <rmoriya@lxplus733.cern.ch>
Ryuji Moriya <rmoriya@cern.ch> <rmoriya@lxplus735.cern.ch>
Ryuji Moriya <rmoriya@cern.ch> <rmoriya@lxplus738.cern.ch>
Ryuji Moriya <rmoriya@cern.ch> <rmoriya@lxplus745.cern.ch>
Ryuji Moriya <rmoriya@cern.ch> <rmoriya@lxplus758.cern.ch>
Ryuji Moriya <rmoriya@cern.ch> <rmoriya@lxplus768.cern.ch>
Ryuji Moriya <rmoriya@cern.ch> <rmoriya@lxplus769.cern.ch>
Ryuji Moriya <rmoriya@cern.ch> <rmoriya@lxplus792.cern.ch>
Ryuji Moriya <rmoriya@cern.ch> <rmoriya@lxplus795.cern.ch>
Salman Maqbool <salman.maqbool@cern.ch>
Sanchit Sharma <40703654+SanchitKratos@users.noreply.github.com>
Sebastian Pape <sebastian.pape@cern.ch>
Sebastian Schmidt <sebastian.seb.schmidt@fau.de>
Sebastien Murphy <sebastien.murphy@cern.ch> <sebastien.murphy@gmail.com>
Simon Spannagel <simon.spannagel@cern.ch>
Stefano Mersi <mersi@mersi.cern.ch>
Stephan Lachnit <stephanlachnit@debian.org> Stephan Lachnit <stephanlachnit@protonmail.com>
Thomas Billoud <thomas.billoud@cern.ch> tbilloud <tbilloud@hotmail.com>
Thomas Billoud <thomas.billoud@cern.ch> Thomas Remy Victor Billoud <tbilloud@lxplus048.cern.ch>
Thomas Billoud <thomas.billoud@cern.ch> Thomas <thomas.billoud@cern.ch>
Tobias Bisanz <tobias.bisanz@cern.ch> <tobias.bisanz@phys.uni-goettingen.de>
Viktor Sonesten <tmplt@dragons.rocks>
Yajun He <yajun.he@cern.ch> yajun <yajun.he@cern.ch>
